<nav class="navbar navbar-inverse navbar-collapse">
    <a class="navbar-brand" href="#/">Scrapper</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#/">Home</a>
        </li>
        <li>
            <a href="#/forbidden-address">Forbidden addresses</a>
        </li>
        <li>
            <a href="#/recommended-apartments">Recommended apartments</a>
        </li>
        <li>
            <a href="#/recommender-config">Recommender config</a>
        </li>
    </ul>
</nav>