<div ng-controller="ManagementController">

    <table>
        <tr>
            <!--<td><button ng-click="addAddress($index);">Add address</button></td>-->
            <td><input ng-model="newAddress"/></td>
            <td><i ng-click="addAddress();" class="fa fa-floppy-o" aria-hidden="true"></i></td>
        </tr>
        <tr ng-repeat="address in forbiddenAddresses | orderBy : 'address'">
            <td>{{ address.address }}</td>
            <td><i ng-click="removeAddress($index);" class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
    </table>

</div>