<div ng-controller="ApartmentController">

    <div class="btn-group" data-toggle="buttons">
        <label ng-repeat="purpose in purposes" ng-class="{active: selectedPurpose===purpose}" class="btn btn-primary">
            <input type="radio" name="options" autocomplete="off" ng-model="selectedPurpose" >{{purpose}}
        </label>
    </div>

    <form>
        <div class="form-group col-sm-4">
            <label for="sort">Sort:</label>
            <select class="form-control" ng-model="filters.selectedSort" id="sort" ng-change="filter()" ng-options="sort as sort for sort in sortItems"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="pageSize">Page size:</label>
            <select class="form-control" ng-model="pagination.pageSize" id="pageSize" ng-change="pageApartments()" ng-options="pageSize as pageSize for pageSize in pageSizes"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="sizeGreaterThan">Size greater than:</label>
            <select class="form-control" ng-model="filters.sizeGreaterThan" id="sizeGreaterThan" ng-change="filter()" ng-options="apartmentSize as apartmentSize for apartmentSize in apartmentSizes"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="sizeLessThan">Size smaller than:</label>
            <select class="form-control" ng-model="filters.sizeLessThan" id="sizeLessThan" ng-change="filter()" ng-options="apartmentSize as apartmentSize for apartmentSize in apartmentSizes"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="priceGreaterThan">Price greater than:</label>
            <select class="form-control" ng-model="filters.priceGreaterThan" id="priceGreaterThan" ng-change="filter()" ng-options="price as price for price in prices"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="priceLessThan">Price smaller than:</label>
            <select class="form-control" ng-model="filters.priceLessThan" id="priceLessThan" ng-change="filter()" ng-options="price as price for price in prices"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="pricePerSquareMeterGreaterThan">Price per sqmt gt:</label>
            <select class="form-control" ng-model="filters.pricePerSquareMeterGreaterThan" id="pricePerSquareMeterGreaterThan" ng-change="filter()" ng-options="price as price for price in pricePerSquareMeterList"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="pricePerSquareMeterLessThan">Price per sqmt lt:</label>
            <select class="form-control" ng-model="filters.pricePerSquareMeterLessThan" id="pricePerSquareMeterLessThan" ng-change="filter()" ng-options="price as price for price in pricePerSquareMeterList"></select>
        </div>

        <div class="form-group col-sm-12">
            <label>
                <input type="checkbox" ng-model="filters.showOnlyRecommended" id="only-recommended" ng-click="filter()">
                Display only recommended
            </label>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <tags-input id="filterText" ng-model="filters.tags" placeholder="Remove containing" on-tag-removed="filter()" on-tag-added="filter()"></tags-input>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>/</th>
            <th>Price</th>
            <th>Price / sqmt</th>
            <th>URL</th>
            <th>Description</th>
            <th>Address</th>
            <th>Area</th>
            <th>No of rooms</th>
            <th>Recommended</th>
            <th>Reason</th>
            <th>Created date</th>
            <th>Save this apartment?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="apartment in pagedApartments">
            <td>
                <img ng-src="{{ apartment.imageURL }}" class="img-fluid" style="width: 300px;" alt="No image."/>
            </td>
            <td>{{ apartment.price }}</td>
            <td>{{ apartment.price / apartment.area | number : 0}}</td>
            <td><a href="{{ apartment.url }}" target="_blank">{{ apartment.url }}</a></td>
            <td>{{ apartment.description }}</td>
            <td>{{ apartment.address | htmlToPlaintext }}</td>
            <td>{{ apartment.area }}</td>
            <td>{{ apartment.noOfRooms }}</td>
            <td>{{ apartment.recommended ? 'YES' : 'NO' }}</td>
            <td>{{ apartment.message }}</td>
            <td>{{ apartment.createdDate | date: 'dd-MM-yyyy' }}</td>
            <td>
                <label>
                    <input type="checkbox" ng-model="apartment.toBeSaved" ng-click="updateApartment(apartment);">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="pagination.totalItems" items-per-page="pagination.pageSize" ng-model="pagination.pageNum" max-size="5" class="pagination-sm" boundary-link-numbers="true" ng-click="pageApartments()"></ul>
</div>