<div ng-controller="ApartmentController">

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="filters.showOnlyRecommended" id="only-recommended" ng-click="filter()">
            Display only recommended
        </label>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Price</th>
            <th>URL</th>
            <th>Description</th>
            <th>Address</th>
            <th>Area</th>
            <th>No of rooms</th>
            <th>Recommended</th>
            <th>Save this apartment?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="apartment in apartments">
            <td>{{ apartment.price }}</td>
            <td><a href="{{ apartment.url }}" target="_blank">{{ apartment.url }}</a></td>
            <td>{{ apartment.description }}</td>
            <td>{{ apartment.address }}</td>
            <td>{{ apartment.area }}</td>
            <td>{{ apartment.noOfRooms }}</td>
            <td>{{ apartment.recommended ? 'YES' : 'NO' }}</td>
            <td>
                <label>
                    <input type="checkbox" ng-model="apartment.toBeSaved" ng-click="updateApartment(apartment);">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="pagination.totalItems" ng-model="pagination.pageNum" max-size="5" class="pagination-sm" boundary-link-numbers="true" ng-click="pageChanged()"></ul>
</div>