<div ng-controller="RecommenderConfigController">

    <table>
        <tr>
            <th>Min price</th>
            <th>Max price</th>
            <th>Min area</th>
            <th>Max area</th>
            <th>Max price per square meter</th>
            <th>Processing mode</th>
        </tr>
        <tr ng-repeat="config in configList">
            <td>
                <input type="text" class="form-control" id="minPrice" placeholder="Min price" ng-model="config.minPrice"
                       ng-blur="saveConfig($index)">
            </td>
            <td>
                <input type="text" class="form-control" id="maxPrice" placeholder="Max price" ng-model="config.maxPrice"
                       ng-blur="saveConfig($index)">
            </td>
            <td>
                <input type="text" class="form-control" id="minArea" placeholder="Min area" ng-model="config.minArea"
                       ng-blur="saveConfig($index)">
            </td>
            <td>
                <input type="text" class="form-control" id="maxArea" placeholder="Max area" ng-model="config.maxArea"
                       ng-blur="saveConfig($index)">
            </td>
            <td>
                <input type="text" class="form-control" id="maxPriceOfSquareMeter"
                       placeholder="Max price of square meter" ng-model="config.maxPriceOfSquareMeter"
                       ng-blur="saveConfig($index)">
            </td>
            <td>
                <select class="form-control" ng-model="config.processingMode" id="processingMode"
                        ng-blur="saveConfig($index)" ng-options="mode as mode for mode in processingModes"></select>
            </td>
        </tr>
    </table>

</div>