<div ng-controller="SmokingTestAnswersController">

    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <form class="form" name="iskoristiForma">
                <div class="form-group">
                    <label class="form-label">Ukupno ustedjeno:</label>
                    <input type="text" class="form-control" ng-value="pointsData.allPoints" disabled/>
                </div>
                <div class="form-group">
                    <label class="form-label">Iskorisceno</label>
                    <input type="text" class="form-control" ng-value="pointsData.usedPoints" disabled/>
                </div>
                <div class="form-group">
                    <label class="form-label">Za iskoristiti</label>
                    <input type="text" name="poeniZaIskoristiti" class="form-control" ng-model="pointsToUse"/>
                    <span class="help-block" ng-show="iskoristiForma.poeniZaIskoristiti.$touched && pointsToUse % 15 != 0">Unesi ceo broj, deljiv sa 15.</span>
                </div>
                <div class="form-group">
                    <input type="Submit" class="form-control" value="Iskoristi" ng-click="useAnswers(pointsToUse)"/>
                </div>
            </form>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <canvas id="pie" class="chart chart-pie"
                    chart-data="pieChartData" chart-labels="pieChartLabels">
            </canvas>
        </div>
        <div class="col-lg-9 col-sm-6">
            <canvas id="bar" class="chart chart-bar"
            chart-data="barChartData.data" chart-labels="barChartData.labels" chart-series="barChartData.series">
            </canvas>
        </div>
    </div>
</div>