<div ng-controller="SmokingTestAnswersController">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <canvas id="pie" class="chart chart-pie"
                    chart-data="pieChartData" chart-labels="pieChartLabels">
            </canvas>
        </div>
        <div class="col-lg-9 col-sm-6">
            <canvas id="bar" class="chart chart-bar"
            chart-data="barChartData.data" chart-labels="barChartData.labels" chart-series="barChartData.series">
            </canvas>
        </div>
    </div>
</div>